:root {
    --white: #F4F0EB;
    --silver: #c7d0ce;
    --grey: #859993;
    --dark-grey: #414E4A;
    --black: #1E2019;
    --dark-mint: #40B088;
    --mint: #70C8A0;
    --light-mint: #88D8B8;
    --pink: #C87098;
    --dark-pink: #BA4B7D;
}

/* DEFAULTS */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: pixelmix, sans-serif;
}

h1 {
    font-family: MonsterFriendFore, sans-serif;
    font-size: 4em;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.x-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.y-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


/* LEFT PANNEL */
.presentation {
    width: 30%;
    height: 100%;
    align-items: flex-start;
}

.presentation p {
    font-size: 1.4em;
    padding: 1em 0 2em;
    line-height: 1.5em;
}

.manual {
    padding: 4em 0 0;
}

.annoted-picture {
    display: inline-flex;
    width: 9vh;
    position: relative;
}

.annotation {
    position: absolute;
    bottom: 5.5vh;
    color: var(--grey);
    font-size: 0.7em;
}

.kiki-portrait {
    height: 10vh;
    position: absolute;
    bottom: -2.5vh;
}

.food-pic {
    height: 8vh;
    position: absolute;
    top: -7vh;
}

.apple {
    left: -2vh;
}

.carrot {
    right: -1.6vh;
}

.controls {
    align-self: flex-start;
}

.controls img {
    height: 4em;
}

.controls .x-box {
    margin: auto;
    width: 55%;
    font-size: 1.4em;
}


#start-btn {
    width: 35%;
    position: relative;
    top: 5vh;
    margin: auto;

    border-radius: 50px;

    cursor: pointer;
    font-family: MonsterFriendFore, sans-serif;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
}

#start-btn:active {
    top: 4vh;
}

#score-box {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 1em;
    margin-left: 1vw;
    text-align: right;
}

#score {
    line-height: 2em;
    font-size: 2em;
}

#credits {
    bottom: 1vh;
}

.mode-box {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    gap: 1em;
    cursor: pointer;
}


/* END OF GAME PANNEL */
#EOG-pannel {
    width: 85vh;
    height: 85vh;
    margin: 1em;
    padding: 1em;
    text-align: center;
    
    display: none;

    border: 15px solid var(--dark-grey);
    border-image: url("./assets/playfiled-blob.png") 30 stretch;
    border-radius: 50px;
    background-color: rgba(64, 176, 136, 0.5);
    z-index: 3;
}

#EOG-pannel h1 {
    color: var(--dark-pink);
}

#EOG-pannel h2{
    padding: 1em;
    line-height: 1.5em;
    color: var(--dark-grey);
    font-size: 2.5em;
}

#final-score {
    font-size: 2em;
}

#final-score span {
    color: var(--dark-pink);
    font-size: 2em;
    font-family: MonsterFriendFore, sans-serif;
    -webkit-text-stroke: 3px var(--white);
    text-stroke: 3px var(--white);
}


/* PLAYFIELD */
#playfield-background {
    position: fixed;
    right: 8.5vw;
    z-index: 0;

    width: 89vh;
    height: 89vh;
    background-color: var(--mint);

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0;
}


.pink1 {
    background-image: url("./assets/grassbg.png");
    background-size: 200%;
    background-position: top left;
}

.grass {
    background-image: url("./assets/grassbg.png");
    background-size: 200%;
    background-position: top right;
}

.white {
    background-image: url("./assets/grassbg.png");
    background-size: 200%;
    background-position: bottom left;
}

.pink2 {
    background-image: url("./assets/grassbg.png");
    background-size: 200%;
    background-position: bottom right;
}

#playfield {
    width: 85vh;
    height: 85vh;
    margin: 1em;
    padding: 1em;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0;

    border: 15px solid var(--dark-grey);
    border-image: url("./assets/playfiled-blob.png") 30 stretch;
    border-radius: 50px;
    z-index: 1;
}

.cell {
    border: none;
}



/* DARK MODE */
body.dark {
    background-color: var(--dark-grey);
    color: var(--white);
}


body.dark h1 {
    color: var(--pink);
    -webkit-text-stroke: 3px var(--white);
    text-stroke: 3px var(--white);
}

body.light h2 { color: var(--light-mint); }

/* .annotation */

body.dark .controls .x-box {
    color: var(--mint);
}

body.dark #start-btn {
    color: var(--white);
    background-color: var(--pink);
    border: 13px solid var(--pink);
    border-image: url("./assets/start-blob.png") 30 stretch;
}

body.dark #score-box {
    color: var(--white);
}

body.dark #score {
    color: var(--pink);
}


/* LIGHT MODE */
body.light {
    background-color: var(--silver);
    color: var(--dark-grey);
}


body.light h1 {
    color: var(--dark-mint);
    -webkit-text-stroke: 3px var(--dark-grey);
    text-stroke: 3px var(--dark-grey);
}

body.light h2 { color: var(--pink); }


body.light .controls .x-box {
    color: var(--dark-mint);
}

body.light #start-btn {
    color: var(--white);
    background-color: var(--mint);
    border: 13px solid var(--mint);
    border-image: url("./assets/playfiled-blob.png") 30 stretch;
}

body.light #score-box {
    color: var(--dark-grey);
}

body.light #score {
    color: var(--pink);
}