:root {
    --white: #F4F0EB;
    --grey: #888C90;
    --light-grey: #D9D9D8;
    --dark-grey: #363F47;
    --blue: #9EC0D5;
    --yellow: #F5B83D;
    --red: #FF6B64;
    --green: #B8E788;
}

/* DEFAULTS */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--blue);
    width: 100%;
}

p {
    font-family: rainyhearts, sans-serif;
    font-size: 2em;
    font-weight: 500;
}

h1 {
    font-family: MonsterFriendFore, sans-serif;
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-family: rainyhearts, sans-serif;
    font-size: 2em;
    text-align: left;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}


/* LAYOUT */
.container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
}


/* LEFT PANNEL */
aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em;
    padding: 1em;
    border: 2px solid var(--grey);
    border-radius: 20px;
    background-color: var(--white);
}

aside img {
    height: 25vh;
    width: auto;
}

header {
    padding-bottom: 1em;
}

header h1 {
    font-family: MonsterFriendFore, sans-serif;
    font-size: 2.5em;
    text-align: center;
}

header h2 {
    font-family: rainyhearts, sans-serif;
    font-size: 2em;
    text-align: center;
}

/* header p { */
/*     font-family: pixelmix, sans-serif; */
/* } */

header hr {
    margin-bottom: 1em;
}

.controls {
    align-self: flex-start;
    padding-top: 1em;
}

.controls img {
    float: left;
    height: 4em;
    padding-right: 1em;
}

.controls p {
    float: right;
    padding-top: 0.5em;
    font-size: 2.5em;
}

#start-btn {
    padding: 0.3em 0.3em;
    color: var(--white);
    font-family:  rainyhearts, sans-serif;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--white);
    border-radius: 20px;
    background-color: var(--blue);
    cursor: pointer;
}

#start-btn:hover {
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 20px;
    background-color: var(--white);
}

#score {
    min-width: 2em;
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.8em;
    color: var(--white);
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    border-radius: 25px;
    text-align: center;
}

/* END OF GAME PANNEL */
#EOG-pannel {
    width: 87vh;
    height: 87vh;
    margin: 1em;
    padding: 1em;
    border: 2px solid var(--grey);
    border-radius: 20px;
    background-color: var(--white);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#EOG-pannel h2{
    padding: 1em;
}

#final-score {
    font-size: 2em;
}

#final-score span {
    color: var(--yellow);
    font-weight: 700;
}

/* PLAYFIELD */
#playfield {
    width: 87vh;
    height: 87vh;
    margin: 1em;
    padding: 1em;
    border: 2px solid var(--grey);
    border-radius: 20px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

/* .cell { */
/*     border: 1px solid var(--grey); */
/* } */

/* SPRITES */
.fly {
    background: url('./images/fly1.png') no-repeat center;
    background-size: contain;
}

.kiki {
    background: url('./images/kiki1.png') no-repeat center;
    background-size: contain;
}

.kiki[data-x$='1'],
.kiki[data-x$='3'],
.kiki[data-x$='5'],
.kiki[data-x$='7'],
.kiki[data-x$='9'] {
    background: url('./images/kiki2.png') no-repeat center;
    background-size: contain;
}

.snake-head {
    background: url('./images/snake-head.png') no-repeat center;
    background-size: contain;
}

.snake-tail {
    background: url('./images/snake-tail.png') no-repeat center;
    background-size: contain;
}

.snake-body {
    background: url('./images/snake-body.png') no-repeat center;
    background-size: contain;
}

.snake-body[curve='true'] {
    background: url('./images/snake-curve.png') no-repeat center;
    transform: rotate(90deg);
    background-size: contain;
}

.snake-body[curve='true'] {
    background: url('./images/snake-curve.png') no-repeat center;
    transform: rotate(0deg);
    background-size: contain;
}

[class*='snake'][direction='rigth'] {
    transform: rotate(0deg);
}


[class*='snake'][direction='down'] {
    transform: rotate(90deg);
}

[class*='snake'][direction='left'] {
    transform: rotate(180deg);
}

[class*='snake'][direction='up'] {
    transform: rotate(270deg);
}
