:root {
    --white: #F4F0EB;
    --grey: #859993;
    --dark-grey: #414E4A;
    --black: #1E2019;
    --dark-mint: #40B088;
    --mint: #70C8A0;
    --light-mint: #88D8B8;
    --pink: #C87098;
    --dark-pink: #BA4B7D;

    --blue: #9EC0D5;
    --dark-blue: #518fb2;
    --yellow: #F5B83D;
    --red: #FF351F;
    --green: #B8E788;
}

/* DEFAULTS */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-grey);
    color: var(--white);
    font-family: pixelmix, sans-serif;
}

h1 {
    font-family: MonsterFriendFore, sans-serif;
    font-size: 4em;
    color: var(--pink);
    -webkit-text-stroke: 3px var(--white);
    text-stroke: 3px var(--white);
}

h2 {
    color: var(--light-mint);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.x-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.y-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* LEFT PANNEL */
.presentation {
    width: 30%;
    height: 100%;
    align-items: flex-start;
}

.presentation p {
    font-size: 1.4em;
    padding: 1em 0 2em;
    line-height: 1.5em;
}

.manual {
    padding: 4em 0 0;
}

.annoted-picture {
    display: inline-flex;
    width: 9vh;
    position: relative;
}

.annotation {
    position: absolute;
    bottom: 5.5vh;
    color: var(--grey);
    font-size: 0.7em;
}

.kiki-portrait {
    height: 10vh;
    position: absolute;
    bottom: -2.5vh;
}

.food-pic {
    height: 8vh;
    position: absolute;
    top: -7vh;
}

.apple {
    left: -2vh;
}

.carrot {
    right: -1.6vh;
}

.controls {
    align-self: flex-start;
}

.controls img {
    height: 4em;
}

.controls .x-box {
    margin: auto;
    width: 55%;
    color: var(--mint);
    font-size: 1.4em;
}


#start-btn{
    width: 35%;
    position: relative;
    top: 5vh;
    margin: auto;

    color: var(--white);
    background-color: var(--pink);
    border: 13px solid var(--pink);
    border-image: url("./assets/start-blob.png") 30 stretch;
    border-radius: 50px;

    cursor: pointer;
    font-family: MonsterFriendFore, sans-serif;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
}

#start-btn:active {
    top: 4vh;
}

#score-box {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 1em;
    margin-left: 1vw;

    color: var(--white);
    text-align: right;
}

#score {
    color: var(--pink);
    line-height: 2em;
    font-size: 2em;
}

/* END OF GAME PANNEL */
#EOG-pannel {
    width: 85vh;
    height: 85vh;
    margin: 1em;
    padding: 1em;
    text-align: center;
    
    display: none;

    border: 15px solid var(--grey);
    border-image: url("./assets/playfiled-blob.png") 30 stretch;
    border-radius: 50px;
    background-color: rgba(64, 176, 136, 0.5);
    z-index: 3;
}

#EOG-pannel h1 {
    color: var(--dark-pink);
}

#EOG-pannel h2{
    padding: 1em;
    line-height: 1.5em;
    color: var(--dark-grey);
    font-size: 2.5em;
}

#final-score {
    font-size: 2em;
}

#final-score span {
    color: var(--dark-pink);
    font-size: 2em;
    font-family: MonsterFriendFore, sans-serif;
    -webkit-text-stroke: 3px var(--white);
    text-stroke: 3px var(--white);
}

/* PLAYFIELD */
#playfield-background {
    position: fixed;
    right: 8.5vw;
    z-index: 0;

    width: 89vh;
    height: 89vh;
    background-color: var(--mint);

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0;
}


.pink1 {
    background-image: url("./assets/grassbg.png");
    background-size: 200%;
    background-position: top left;
}

.grass {
    background-image: url("./assets/grassbg.png");
    background-size: 200%;
    background-position: top right;
}

.white {
    background-image: url("./assets/grassbg.png");
    background-size: 200%;
    background-position: bottom left;
}

.pink2 {
    background-image: url("./assets/grassbg.png");
    background-size: 200%;
    background-position: bottom right;
}

#playfield {
    width: 85vh;
    height: 85vh;
    margin: 1em;
    padding: 1em;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0;

    border: 15px solid var(--grey);
    border-image: url("./assets/playfiled-blob.png") 30 stretch;
    border-radius: 50px;
    z-index: 1;
}

#credits {
    bottom: 1vh;
}

.cell {
    border: none;
}

/* SPRITES */
.apple {
    background: url('./assets/apple.gif') no-repeat center;
    background-size: contain;
}

.carrot {
    background: url('./assets/carrot.gif') no-repeat center;
    background-size: contain;
}


.kiki {
    background: url('./assets/kiki-sprite.png') no-repeat center;
    background-position: top left;
    background-size: 215%;
}

.kiki[direction='0']{	/* down */
    background-position: bottom left;
}

.kiki[direction='1']{	/* up */
    background-position: bottom right;
}

.kiki[direction='2']{	/* left */
    background-position: top left;
}

.kiki[direction='3']{	/* right */
    background-position: top right;
}


[class*='snake'] {
    background: url('./assets/snake-sprite.png') no-repeat center;
    background-size: 200%;
}


.snake-head {
    background-position: top left;
}

.snake-tail {
    background-position: bottom left;
}

.snake-body {
    background-position: top right;
}

.snake-body[curve='true'] {
    background-position: bottom right;
}

[class*='snake'][direction='0'] {	/* down */
    transform: rotate(180deg);
}

[class*='snake'][direction='1'] {	/* up */
    transform: rotate(0deg);
}

[class*='snake'][direction='2'] {	/* left */
    transform: rotate(270deg);
}

[class*='snake'][direction='3'] {	/* right */
    transform: rotate(90deg);
}
